<div class="user" id="<%= dom_id user %>">
  <h2><%= user.email %></h2>
  <div class="user-actions">
    <%= link_to I18n.t('views.common.show'), administrator_user_path(user), class: "btn-show" %>
  </div>
</div>
