<h1><%= I18n.t('views.administrators.users.edit.title') %></h1>

<%= render "form", user: @user %>

<br>

<div class="user-actions">
  <%= link_to I18n.t('views.common.show'), administrator_user_path(@user), class: 'btn-show' %> |
  <%= link_to I18n.t('views.common.back'), administrator_users_path, class: 'btn-back' %>
</div>
