<h1>Editando administrador</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Exibir detalhes", administrator_user_path(@user) %> |
  <%= link_to "Voltar", administrator_users_path %>
</div>
