<h1><%= I18n.t('views.administrators.users.index.title') %></h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>

<%= link_to I18n.t('views.administrators.users.new.title'), new_administrator_user_path, class: "new-user-link" %>
