<h1>Editing company</h1>

<%= render "form", company: @company %>

<br>

<div class="company-actions">
  <%= link_to I18n.t('views.common.show'), @company, class: 'btn-show' %> |
  <%= link_to I18n.t('views.common.back'), companies_path, class: 'btn-back' %>
</div>
