<h1>Companies</h1>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to I18n.t('views.common.show'), company %>
    </p>
  <% end %>
</div>

<%= link_to I18n.t('views.companies.index.new'), new_company_path %>
